body{
    font-family: Raleway; 
    padding:0px 80px 10px 80px; 
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.main:hover {
    filter: drop-shadow(0 0 30px #333);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main > h1 {
    color: #0f4b9c;
}

.heading {
    color: #e81d26;
}

.cell {
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.cell#notblank:hover {
    box-shadow: 0px 2px 17px -1px rgba(112,112,112,1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.08);
}

.cell > h1 {
    color: #0f4b9c;
}

.cell > p > img {
    border-radius: 8px;
}