a:hover{ text-decoration:none;}

table{
    width: 100%;
    table-layout: fixed;
    padding: 50px;
    font-family: Raleway;
}
table th{
    font-size: 19px; 
    color:#07439c;
    width:20%;
}
tr th{  width:40%;  }
tr th + th {  width:20%;  }
tr th + th + th {  width:20%;  }
tr th + th + th + th{  width:20%;  }
td {  
    color:#787878;  
    font-weight: 500; 
    padding-right:0px;
}
tr td { padding-right:70px; }
